<div class="side-panel">
  <div class="sub-navigation">
    <button class="sub-navigation-opener hide-for-mediumlarge" data-toggle="sub_navigation">
      <%= t(".show_navigation") %>
    </button>
    <ul id="sub_navigation" class="sub-navigation-content vertical menu" data-toggler=".active">
      <% types.each do |key, type| %>
        <li class="page-item <%= @selected_type == key ? "is-active" : nil %>">
          <%= link_to type[:name], favorites_path(type: key) %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
