<% add_decidim_page_title(t("decidim.pages.index.title")) %>
<%
edit_link(
  decidim_admin.static_pages_path,
  :read,
  :static_page
)
%>

<%= render partial: "layouts/decidim/breadcrumbs" rescue nil %>

<div class="wrapper">
  <div class="row column">
    <div class="main-container tabbed-container">
      <div class="row collapse main-container--side-panel">
        <div class="columns medium-12 mediumlarge-4 large-3">
          <%= render "side_panel" %>
        </div>

        <div class="columns medium-12 mediumlarge-8 large-9">
          <div class="main-container__content">
            <div class="tabs-content vertical">
              <div class="static__content">
                <h1 class="heading1 page-title">
                  <%= t ".title" %>
                </h1>
                <%= t(".subheading_html") %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
