<% add_decidim_page_title(t(".title")) %>
<%
edit_link(
  decidim_admin.static_pages_path,
  :read,
  :static_page
)
%>

<div class="wrapper">
  <div class="row column">
    <div class="main-container tabbed-container">
      <div class="row collapse main-container--side-panel">
        <div class="columns medium-12">
          <div class="main-container__content">
            <div class="tabs-content vertical">
              <div class="static__content">
                <h1 class="heading1 page-title">
                  <%= t ".title" %>
                </h1>
                <%= t(".description_html") %>
                <div class="aria-hidden">
                  <p><%= t(".icon_description") %></p>
                  <p><%== cell("decidim/favorites/favorite_button", nil).example %></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
