<div class="<%= button_classes %>" style="cursor:default;">
  <span class="icon-wrap">
    <span class="heart-icon" aria-hidden="true">
      <%= render :icon_hollow %>
    </span>
    <span class="show-for-sr"><%= t("decidim.favorites.favorite_button.add_to_favorites") %></span>
    <span class="indicator-wrap" aria-hidden="true">+</span>
  </span>
</div>
